<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DOT5800">

 <listeners>
	<listener class-name="qa.listeners.ExtentReportListener"/>
</listeners> 



<test name="LoginTest">

	<classes>
				
				 
 				     <class name = "qa.testClass.LoginTest"></class>	  
      				 
      	      
      	
	</classes>
		</test>
</suite>
